.batch-edit-unit-container {
  width: 100%;
}

.batch-edit-unit-field-row {
  width: 100%;
}

.batch-edit-unit-checkbox {
  margin-top: 30px;
}

.batch-edit-unit-field {
  flex: 1;
  margin-bottom: 0;
}

.batch-edit-unit-divider {
  margin: 12px 0;
}
