.screen-capture-tool {
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  overflow: hidden;
  background: var(--color-bg-container);
  height: 100%;
}

.screen-capture-tool-form {
  display: flex;
  width: '100%';
  justify-content: space-between;
}

.screen-capture-tool-form .ant-form-item {
  margin-right: 0 !important;
  width: 118px;
}

.screen-capture-tool-form .ant-form-item-control {
  flex-grow: unset !important;
}

.screen-capture-tool-form .ant-form-item-row {
  display: flex;
  justify-content: space-between;
}

.screen-capture-tool-form .ant-form-item .ant-form-item-label >label::after {
  content: "" !important;
  margin-right: 4px !important;
}